body { 
  margin: 0;
  padding: 24px; 
  font-size: 16px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  color: #555;
}

#square {
  position: absolute;
  top: 124px;
  left: 36px;
  width: 124px;
  height: 124px;
  background-color: tomato;
}

p {
  margin-top: 264px;
}

@keyframes roll-and-round {
  /* 시작 */
  from {
    left: 36px;
    border-radius: 0;
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  /* 끝 */
  to {
    left: 600px;
    border-radius: 100%;
    transform: scale(0.25) rotate(1080deg) ;
    opacity: 0;
    
  }

  /* 중간과정 추가 */
  67% {
    transform: scale(1.5) rotate(540deg);
    border-radius: 10%;
    opacity: 1;
  }
}

#square{
  animation-name: roll-and-round;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}