u{
  --not-good : wavy underline orange;
  --wrong: wavy underline red;
}

.wrong{
  --warm : yellow;
}

:root{
  --font-small:8px;
  --font-normal: 16px;
  --font-large: 24px;
  --font-x-large: 32px;
  --font-xx-large: 40px;
  --font-xxx-large: 48px;

  --font-w-normal: 400;
  --font-w-bold: 600;
  --font-w-extrabold: 900;

  --color-main: #FF4200;
  --color-sub: #865A55;
  --color-text: #49281C;
}